<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mei Shi</title>
    <link rel="stylesheet" href="/layui/css//layui.css">
    <link rel="stylesheet" href="css/global.css">

    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/plugins/ion.rangeSlider.min.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

    <!-- Coffeez Style sheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">


    <!-- Vendor Stylesheets -->
    <!-- Vendor Stylesheets -->
    <script type="text/javascript" src="/layui//layui.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script>
        /layui.use(['table','layer','form','element'],function () {
            var table=/layui.table;
            form=/layui.form;
            layer=/layui.layer;
            element=/layui.element;
            var commentlist;
            var commentindex;
            $.ajax({
                url:"getComment1",
                type:'POST',
                data:{"meishiId": ${jidi.id}},
                async:false,
                success:function (data) {
                    for(var i in data){
                        commentlist=data
                        var str="<li data-id=\"111\" class=\"jieda-daan\">\n" +
                            "                        <a name=\"item-1111111111\"></a>\n" +
                            "                        <div class=\"detail-about detail-about-reply\">\n" +
                            "                            <p id=\"userId\">"+data[i].user.username+"</p>\n" +
                            "                        </div>\n" +
                            "                        <div class=\"detail-body jieda-body photos\">\n" +
                            "                            <p id=\"commentContent\">"+data[i].content+"</p>\n" +
                            "                        </div>\n" +
                            "                        <div class=\"jieda-reply\" name=\"replyform\"  style=\"text-align: right\">\n" +
                            "                            <span type=\"reply\" id=\"reply\" name=\"reply\">\n" +
                            "                            <i class=\"iconfont icon-svgmoban53\"></i>\n" +
                            "                            回复\n" +
                            "                            </span>\n" +
                            "                        </div>\n" +
                            "                    </li>"
                        $("#jieda").append(str)
                    }
                }
            })
            $("#reply").on("click",function () {

            })
            /*$("#jieda li").click(function () {

            })
            })
*/


            $(".jieda-reply").bind("click",".jieda-reply span",function () {
                commentindex = $(this).parent().index();
                console.log(commentindex);
                var Commentdata=commentlist[commentindex-1];

                console.log(Commentdata);

                console.log("good")
                var index=layer.open({
                    type:1,
                    content:$('#myform'),
                    area:['500px','250px'],
                });

                form.on('submit(*)',function (data) {
                    console.log(data)
                    console.log(Commentdata.id);
                    console.log(data.field.userid);
                    console.log(data.field.CommentZcontent);
                    console.log(data.field.CommentZcontent);
                    console.log(${jidi.id});
                    var text="回复: @"+Commentdata.user.username+"   "+data.field.CommentZcontent
                    $.ajax({
                        url:"sendZComment1",
                        data:{"id":Commentdata.id,"userId":data.field.userid,"content":text,"meishiId":${jidi.id}},
                        type:'POST'
                    })
                    layer.close(index);
                    return false;
                })

            })})
    </script>
    <link rel="stylesheet" th:href="@{//assets/css/plugins/bootstrap.min.css}">
    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/plugins/ion.rangeSlider.min.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

    <!-- Coffeez Style sheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body>

<!-- Prealoder start -->
<div class="andro_preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<!-- Prealoader End -->

<!-- Newsletter Modal Start -->
<%--
<div class="modal fade" id="androNewsletterPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog andro_newsletter-popup-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="../..//assets/img/ig/1.jpg" alt="newsletter">
                <div class="close-btn close newsletter-popup-trigger" data-dismiss="modal">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="modal-body">

                <div class="andro_newsletter-popup-text-wrapper">
                    <h3>Join Our Newsletter</h3>
                    <p>Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere.</p>
                </div>

                <form method="post" class="text-center">
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" class="form-control" name="newsletter-email" value="">
                    </div>
                    <button type="submit" class="andro_btn-custom" name="button">Subscribe</button>
                    <span class="newsletter-popup-trigger" data-dismiss="modal">No Thanks</span>
                </form>

            </div>
        </div>
    </div>
</div>
--%>
<!-- Newsletter Modal End -->


<div class="andro_aside-overlay aside-trigger-right"></div>

<div class="andro_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="andro_header header-1">

    <!-- Topheader Start -->
    <div class="andro_header-top">
        <div class="container">
            <div class="andro_header-top-inner">
                <ul class="andro_header-top-links" style="margin-left: 800px">
                    <li class="menu-item">你好,${loginUser.username}</li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Topheader End -->

    <!-- Middle Header Start -->

    <!-- Middle Header End -->

    <!-- Bottom Header Start -->

    <!-- Bottom Header End -->

</header>
<!-- Header End -->

<!-- Subheader Start -->
<div class="andro_subheader pattern-bg primary-bg">
    <div class="container">
        <div class="andro_subheader-inner">
            <h1 style="color:black;">美食详情</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index"  style="color:black;">主页</a></li>
                    <li class="breadcrumb-item"><a href="film?pageIndex=1"  style="color:black;">美食</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color:black;">美食详情</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Subheader End -->

<!-- Product Content Start -->
<div class="section andro_post-single">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <div class="entry-content">
                    <div class="andro_post-single-thumb" style="width:1200px;height: 360px">
                        <div style="width:300px;height: 360px;float:left;">
                            <img src="${jidi.img}" style="width: 280px;height: 360px" alt="post">
                        </div>
                        <div style="width:180px;height: 360px;float:left;"></div>
                        <div  style="width:600px;float:left;height: 360px;">
                            <p>${jidi.name}</p>
                            <p>口味: ${jidi.taste}</p>
                            <p>卡路里:${jidi.calo}</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Content End -->

<!-- Comment Form Start -->
<div class="section pt-0">
    <div class="container">
        <div class="section-title">
            <h4 class="title">发表评论</h4>
        </div>
        <div class="comment-form">
            <form method="post" action="sendComment1">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="hidden" name="filmId" value="${jidi.id}">
                        <textarea class="form-control" placeholder="你的看法" name="comment" rows="7"></textarea>
                    </div>
                </div>
                <button type="submit" class="andro_btn-custom primary" name="button">发表</button>
            </form>
        </div>
    </div>

    <div class="/layui-container">
    <div class="/layui-row /layui-col-space15">
        <div class="/layui-col-md8 content detail" style="width: 100%">
            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="/layui-elem-field /layui-field-title" style="text-align: center;">
                    <legend style="font-size: 40px">回帖</legend>
                    <hr class="/layui-bg-red">
                </fieldset>

                <ul class="jieda" id="jieda">
                    <li data-id="111" class="jieda-daan">
                        <a name="item-1111111111"></a>
                        <div class="detail-about detail-about-reply">
                            <p id="userId">贤心</p>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p id="commentContent">香菇那个蓝瘦，这是一条被采纳的回帖</p>
                        </div>
                        <div class="jieda-reply" style="text-align: right">

                            <span type="reply" id="reply" name="reply">
                            <i class="iconfont icon-svgmoban53"></i>
                            回复
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="/layui-form /layui-form-pane" >
            <form action="" method="post" id="myform" lay-filter="myform" style="display: none">
                <div class="/layui-form-item /layui-form-text">
                    <a name="comment"></a>
                    <div class="/layui-input-block">
                        <input type="hidden" name="userid" value="${loginUser.id}">
                        <input type="hidden" name="filmId" value="${jidi.id}">
                        <textarea id="commentZcontent"  name="CommentZcontent" required lay-verify="required" placeholder="请输入内容"  class="/layui-textarea fly-editor" style="height: 150px;width: 250px"></textarea>
                    </div>
                </div>
                <div class="/layui-form-item">
                    <input type="hidden" name="jid" value="123">
                    <button class="/layui-btn" lay-filter="*" lay-submit id="submit">提交回复</button>
                </div>
            </form>
        </div>
    </div>
    </div>

</div>
<!-- Comment Form End -->

<!-- Instagram Start -->
<div class="row no-gutters">
    <div class="col-lg-4 secondary-bg pattern-bg">
        <div class="andro_instagram">
            <h3 class="text-white">欢迎</h3>
            <a href="#" class="andro_btn-custom light">随处看看</a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                <a href="#" class="andro_ig-item">
                    <img src="/assets/img/ig/haibao1.jpg" alt="ig"  style="height: 210px; width: 280px">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                <a href="#" class="andro_ig-item">
                    <img src="/assets/img/ig/haibao2.jpg" alt="ig"  style="height: 210px; width: 280px">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                <a href="#" class="andro_ig-item">
                    <img src="/assets/img/ig/yinyue.jpg" alt="ig"  style="height: 210px; width: 280px">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                <a href="#" class="andro_ig-item">
                    <img src="/assets/img/ig/meijing1.jpg" alt="ig"  style="height: 210px; width: 280px">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                <a href="#" class="andro_ig-item">
                    <img src="/assets/img/ig/meijing2.jpg" alt="ig"  style="height: 210px; width: 280px">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0">
                <a href="#" class="andro_ig-item">
                    <img src="/assets/img/ig/meishi.jpg" alt="ig"  style="height: 210px; width: 280px">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->


<!-- Vendor Scripts -->
<script src="/assets/js/plugins/popper.min.js"></script>
<script src="/assets/js/plugins/waypoint.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
<script src="/assets/js/plugins/imagesloaded.min.js"></script>
<script src="/assets/js/plugins/jquery.steps.min.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
<script src="/assets/js/plugins/slick.min.js"></script>
<script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/jquery.zoom.min.js"></script>

<!-- Coffeez Scripts -->
<script src="/assets/js/main.js"></script>


</body>

</html>
