<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎来到小黄书！</title>
    <!-- Vendor Stylesheets -->
    <!-- Vendor Stylesheets -->
    <script type="text/javascript" src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/plugins/ion.rangeSlider.min.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

    <!-- Coffeez Style sheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>
<script type="application/javascript">
    $(document).ready(function () {
        const cok = $.cookie("name");
        $("#filmName").val(cok)
    })
    function search(pageNum) {
        const name = $("#filmName").val();
        window.location.href="hotel?pageNum="+pageNum+"&filmName="+name
        return false;
    }
</script>
<body>

<!-- Prealoder start -->
<div class="andro_preloader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<div class="andro_aside-overlay aside-trigger-right"></div>
<div class="andro_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="andro_header header-1">

    <!-- Topheader Start -->
    <div class="andro_header-top">
        <div class="container">
            <div class="andro_header-top-inner">
                <li class="menu-item" style="width: 30px"><a  href="/login/index"><font color="white">返回</font> </a></li>
                <ul class="andro_header-top-links">
                    <li class="menu-item" style="margin-left: 900px"><a  href="/user"> 我的账户 </a></li>
                    <li class="menu-item"><a href="/user/esc"> 退出 </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Topheader End -->

    <!-- Middle Header Start -->
    <div class="andro_header-middle">
        <div class="container">
            <nav class="navbar">
                <!-- Search Form -->
                <div class="andro_search-adv" style="margin-left: 300px">
                    <form method="post" th:onsubmit="return search(1)">
                        <div class="andro_search-adv-cats">
                            <span>搜索</span>
                        </div>
                        <div class="andro_search-adv-input">
                            <input id="filmName" type="text" class="form-control" placeholder="根据名称搜索" >
                            <button  type="submit"  name="button"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>

                <div class="andro_header-controls">

                    <ul class="andro_header-controls-inner">
                        <li class="andro_header-favorites">
                            <a href="#" title="Your Wishlist"> <i class="flaticon-like"></i> </a>
                        </li>

                    </ul>

                    <!-- Toggler -->
                    <div class="aside-toggler aside-trigger-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Middle Header End -->




    <!-- Header End -->
    <!-- Popular Categories Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="andro_icon-block text-center has-link">
                        <a href="food?pageIndex=1">
                            <i class="flaticon-coffee-cup"></i>
                            <h5>美食</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4" style="margin-left: 100px;">
                    <div class="andro_icon-block text-center has-link">
                        <a href="hotel?pageIndex=1">
                            <i class="flaticon-coffee-beans"></i>
                            <h5>酒店</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4" style="margin-left: 100px;">
                    <div class="andro_icon-block text-center has-link">
                        <a href="attraction">
                            <i class="flaticon-coffee"></i>
                            <h5>周边游</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4" style="margin-left: 100px;">
                    <div class="andro_icon-block text-center has-link">
                        <a href="film?pageIndex=1">
                            <i class="flaticon-coffee-1"></i>
                            <h5>电影</h5>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Popular Categories End -->

    <!-- Blog Posts Start -->
    <div class="section">
        <div class="container">

            <script type="text/javascript" ></script>

            <!-- Article Start -->
            <div th:if="${info.getList()} ne null">
            <div th:each="film :${info.getList()}">
                <article class="andro_post andro_post-list">
                    <div class="andro_post-thumb">
                        <img th:src="${film.img}"  style="width: 280px;height: 360px" alt="post">
                    </div>
                    <div class="andro_post-body">
                        <div class="andro_post-categories">
                            <p>名称:<h5 th:text="${film.name}"></h5></p>
                        </div>
                        <div class="andro_post-desc">
                            评分:<h5 th:text="${film.score}"></h5>
                            价格:<h5 th:text="${film.price}"></h5>
                            评价:<h5 th:text="${film.tag}"></h5>
                            地址：<p th:text="${film.address}" class="andro_post-date"></p>
                        </div>

                        <a class="andro_btn-custom" th:href="@{comment(categoryId=4,itemId=${film.id})}"> 查看详情 </a>
                    </div>
                </article>
            </div>
            </div>


            <!-- Pagination Start -->
            <ul class="pagination mb-0">
                <li th:onclick="'javascript:search(1);'"  class="page-item"><a class="page-link" >首页</a></li>
                <li th:onclick="'javascript:search('+${info.getPageNum()-1}+');'" th:if="${info.getPageNum() ne 1}" class="page-item"><a class="page-link" >上一页</a></li>
                <li th:onclick="'javascript:search('+${info.getPageNum()-2}+');'" th:if="${info.getPageNum() gt 2}" class="page-item"><a class="page-link"   th:text="${info.pageNum-2}"></a></li>
                <li th:onclick="'javascript:search('+${info.getPageNum()-1}+');'" th:if="${info.getPageNum() gt 1}" class="page-item"><a class="page-link"  th:text="${info.pageNum-1}"></a></li>
                <li class="page-item" ><a class="page-link" style="background: #634832" th:text="${info.pageNum}" ></a></li>
                <li th:onclick="'javascript:search('+${info.getPageNum()+1}+');'" th:if="${info.getPageNum() lt info.getPages()}" class="page-item"><a class="page-link"  th:text="${info.pageNum+1}"></a></li>
                <li th:onclick="'javascript:search('+${info.getPageNum()+2}+');'" th:if="${info.getPageNum() lt info.getPages()-1}" class="page-item"><a class="page-link"  th:text="${info.pageNum+2}"></a></li>
                <li th:onclick="'javascript:search('+${info.getPageNum()+1}+');'" th:if="${info.getPageNum() lt info.getPages()}" class="page-item" style="color: #18181D"><a class="page-link" >下一页</a></li>
                <li th:onclick="'javascript:search('+${info.getPages()}+');'"  class="page-item"><a class="page-link" >尾页</a></li>
                <li  class="page-item" style="border: 0px"><a class="page-link" th:text="'共'+${info.pages}+'页'"></a></li>
            </ul>
            <!-- Pagination End -->
            </div>

        </div>
    </div>



    <!-- Blog Posts End -->

    <!-- Instagram Start -->
    <div class="row no-gutters" >
        <div class="col-lg-4 secondary-bg pattern-bg">
            <div class="andro_instagram">
                <h3 class="text-white">欢迎</h3>
                <a  class="andro_btn-custom light">猜你喜欢</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row no-gutters" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" th:each="item :${show}">
                    <a th:href="@{comment(categoryId=${item.getCategory()},itemId=${item.getId()})}" class="andro_ig-item">
                        <img th:src="${item.getImg()}" alt="ig"  style="height: 210px; width: 280px">
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- Instagram End -->






    <script src="/assets/js/plugins/popper.min.js"></script>
    <script src="/assets/js/plugins/waypoint.js"></script>
    <script src="/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
    <script src="/assets/js/plugins/imagesloaded.min.js"></script>
    <script src="/assets/js/plugins/jquery.steps.min.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="/assets/js/plugins/jquery.cookie.js"></script>

    <!-- Coffeez Scripts -->
    <script src="/assets/js/main.js"></script>
</header>
</body>

</html>


