<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="utf-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="../../layui2/css/layui.css">
    <link rel="stylesheet" href="../../res/css/global.css">
    <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="../assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/plugins/slick.css">
    <link rel="stylesheet" href="../assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/plugins/ion.rangeSlider.min.css">
    <script src="../../res/layui/layui.js"></script>
    <link rel="stylesheet" href="../assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../../layui2/layui.js"></script>
</head>
<script type="text/javascript">
    function getCommentId(id) {
        $("#commentId").val(id);
    }
    $(document).ready(function(){
       console.log( $("#rate").val())
    });

    function aa() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                skin: "layui-layer-molv",
                title: false,
                content: "评论成功!"
            })
        })
        return false;
    }

    layui.use('rate', function () {
        var rate = layui.rate;
        //渲染
        rate.render({
            elem: '#test1'  //绑定元素
            ,choose:function (value) {
                $.ajax({
                    type: "GET",
                    url: "comment/rate?itemId="+$("#itemId").val()+"&category="+$("#category").val()+"&value="+value,
                    async: true,
                    success: function (data) {
                    }
                })
            }
            ,text:true
            ,setText: function(value){
                var arrs = {
                    '1': '评价成功！'
                    ,'2': '评价成功！'
                    ,'3': '评价成功！'
                    ,'4': '评价成功！'
                    ,'5': '评价成功!'
                };
                this.span.text(arrs[value] || ( value + "星"));
            }
        });
        rate.render({
            elem: '#test2'  //绑定元素
            ,readonly:true
            ,value: $("#rate").val()
        });

    });
</script>
<body>
<div class="fly-header layui-bg-black" style="background-color: #442a22 !important;">
    <div class="layui-container">
        <li class="menu-item" style="">
            <a th:if="${detail.getCategoryId()==1}" href="/film"><font color="white">返回</font> </a>
            <a th:if="${detail.getCategoryId()==2}" href="/food"><font color="white">返回</font> </a>
            <a th:if="${detail.getCategoryId()==3}" href="/attraction"><font color="white">返回</font> </a>
            <a th:if="${detail.getCategoryId()==4}" href="/hotel"><font color="white">返回</font> </a>
        </li>
    </div>

</div>


<div class="layui-container" style="margin-left: 100px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box" style="width: 1000px">
                <h1 th:text="${detail.getTitle()}"></h1>
                <div class="detail-about">
                    <a class="fly-avatar" href="../user/home.html">
                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                             alt="贤心">
                    </a>
                    <div class="fly-detail-user">
                        <a class="fly-link">
                            <cite><font color="#00bfff">乐娱社区</font></cite>
                        </a>
                        <span>2021-2-24</span>
                    </div>
                </div>
                <!--电影-->
                <div th:if="${detail.getCategoryId()==1}"
                     style="margin-top: 25px; background-color: rgba(237,243,240,0.91);width: 900px">
                    <div style="float:left">
                        <img style="width: 160px;height: 200px;margin-left: 10px"
                             th:src="'/img/'+${detail.getFilm().getUniqueId()}+'.jpg'">
                    </div>
                    <div>
                        <h5 style="font-size: 15px;margin-left: 200px"
                            th:text="'评分:  '+${detail.getFilm().getScore()}"></h5>
                        <h5 style="font-size: 15px;margin-left: 200px;margin-top: 1px"
                            th:text="'类型:  '+${detail.getFilm().getFilmType()}"></h5>
                        <h5 style="font-size: 15px;margin-left: 200px"
                            th:text="'国家:  '+${detail.getFilm().getCountry()}"></h5>
                        <p style="font-size: 15px;margin-left: 200px"
                           th:text="'主演:  '+${detail.getFilm().getMainActor()}"></p>
                        <p style="font-size: 15px;margin-left: 200px"
                           th:text="'上映时间:  '+${detail.getFilm().getReleaseTime()}"></p>
                    </div>
                </div>
                <!--美食-->
                <div th:if="${detail.getCategoryId()==2}"
                     style="margin-top: 25px; background-color: rgba(237,243,240,0.91);width: 900px;display: flex">
                    <div>
                        <img style="width: 160px;height: 200px;margin-left: 10px" th:src="${detail.getFood().getImg()}">
                    </div>
                    <div>
                        <h5 style="font-size: 15px;margin-left: 30px"
                            th:text="'口味:  '+${detail.getFood().getTaste()}"></h5>
                        <h5 style="font-size: 15px;margin-left: 30px;margin-top: 1px"
                            th:text="'热量:  '+${detail.getFood().getCalo()}"></h5>
                        <h5 style="font-size: 15px;margin-left: 30px;margin-top: 1px"
                            th:text="'主料:  '+${detail.getFood().getMainCom()}"></h5>
                        <h5 style="font-size: 15px;margin-left: 30px;margin-top: 1px"
                            th:text="'辅料:  '+${detail.getFood().getSubCom()}"></h5>
                    </div>
                </div>


                <img height="30" src="/img/detail/film.png"
                     style="margin-top:50px;margin-bottom: -15px;height: 30px !important;">
                <div class="detail-body photos" style="min-height: 200px">
                    <p th:if="${detail.getContent()=='null'}">
                        暂无内容
                    </p>
                    <p th:if="${detail.getContent()!='null'}" th:text="${detail.getContent()}">
                        暂无内容
                    </p>
                    <div th:if="${detail.getCategoryId()==2}">
                        <div th:each="step:${detail.getFood().getStepList()}">
                            <img style="width:600px" th:src="${step.getImg()}">
                            <p th:text="${step.getContent()}"></p>
                        </div>
                    </div>

                </div>
            </div>
            <div style="display: flex">
            <div style="margin-left: 100px">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px">
                    <legend>乐娱社区综合评分</legend>
                </fieldset>
                <div th:if="${detail.getRate()!=0}" id="test2"></div>
                <p th:if="${detail.getRate()==0}">暂无评分</p>
            </div>
            <div style="margin-left: 250px">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>请评分</legend>
                </fieldset>
                <div id="test1"></div>
            </div>
            </div>
            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                    <div th:each="comment :${detail.getCommentList().getList()}">
                        <li>
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar" href="">
                                    <img th:src="${comment.img}">
                                </a>
                                <div class="fly-detail-user">
                                    <a href="" class="fly-link">
                                        <cite th:text="${comment.ename}"></cite>
                                    </a>
                                </div>
                                <div class="detail-hits">
                                    <span th:text="${comment.createDateStr}"></span>
                                </div>
                            </div>
                            <div class="detail-body jieda-body photos">
                                <p th:text="${comment.content}"></p>
                            </div>
                            <div class="jieda-reply">
                                <!--              <span class="jieda-zan" type="zan">-->
                                <!--                <i class="iconfont icon-zan"></i>-->
                                <!--                <em>0</em>-->
                                <!--              </span>-->
                                <span th:onclick="getCommentId([[${comment.id}]])" type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
                                <!--              <div class="jieda-admin">-->
                                <!--                <span type="edit">编辑</span>-->
                                <!--                <span type="del">删除</span>-->
                                <!--                <span class="jieda-accept" type="accept">采纳</span>-->
                                <!--              </div>-->
                            </div>
                        </li>
                        <!--回复-->
                        <li style="margin-left: 50px;background-color: #deecf0" th:each="re :${comment.replyList}">
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar" href="">
                                    <img th:src="${re.img}">
                                </a>
                                <div class="fly-detail-user">
                                    <a href="" class="fly-link">
                                        <cite th:text="${re.ename}"></cite>
                                    </a>
                                </div>
                                <div class="detail-hits">
                                    <span th:text="${re.createDateStr}"></span>
                                </div>
                            </div>
                            <div class="detail-body jieda-body photos">
                                <p th:text="${re.content}"></p>
                            </div>
                            <div class="jieda-reply" style="margin-top: -50px;margin-left: 600px">
               <span type="reply" th:onclick="'javascript:getCommentId('+${re.commentId}+');'">
                <i class="iconfont icon-svgmoban53"></i>
              </span>
                            </div>
                        </li>
                    </div>
                    <!-- 无数据时 -->

                    <li th:if="${#lists.isEmpty(detail.getCommentList().getList())}" class="fly-none">消灭零回复</li>
                </ul>

                <div class="layui-form layui-form-pane">
                    <form action="/comment" method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="L_content" name="content" required lay-verify="required"
                                          placeholder="请输入内容" class="layui-textarea " style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input id="commentId" type="hidden" name="commentId" value="null">
                            <input id="category" type="hidden" name="category" th:value="${detail.getCategoryId()}">
                            <input id="itemId" type="hidden" name="itemId" th:value="${detail.getItemId()}">
                            <input id="rate" type="hidden" name="rate" th:value="${detail.getRate()}">
                            <button class="layui-btn" type="submit" onclick="aa()">提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">乐娱社区</a> 2021 &copy; <a href="http://www.layui.com/"
                                                                               target="_blank">乐娱出品</a></p>
    <p>
</div>

<script src="../assets/js/plugins/popper.min.js"></script>
<script src="../assets/js/plugins/waypoint.js"></script>
<script src="../assets/js/plugins/bootstrap.min.js"></script>
<script src="../assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="../assets/js/plugins/jquery.slimScroll.min.js"></script>
<script src="../assets/js/plugins/imagesloaded.min.js"></script>
<script src="../assets/js/plugins/jquery.steps.min.js"></script>
<script src="../assets/js/plugins/jquery.countdown.min.js"></script>
<script src="../assets/js/plugins/isotope.pkgd.min.js"></script>
<script src="../assets/js/plugins/slick.min.js"></script>
<script src="../assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="../assets/js/plugins/jquery.zoom.min.js"></script>
<script src="../assets/js/plugins/jquery.cookie.js"></script>

<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '../../res/images/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '../../res/mods/'
    }).extend({
        fly: 'index'
    }).use(['fly', 'face'], function () {
        var $ = layui.$
            , fly = layui.fly;
        //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
        /*
        $('.detail-body').each(function(){
          var othis = $(this), html = othis.html();
          othis.html(fly.content(html));
        });
        */
    });
</script>
<!-- Instagram Start -->
<div class="row no-gutters">
    <div class="col-lg-4 secondary-bg pattern-bg">
        <div class="andro_instagram">
            <h3 class="text-white">欢迎</h3>
            <a class="andro_btn-custom light">猜你喜欢</a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 p-0" th:each="item :${show}">
                <a th:href="@{comment(categoryId=${item.getCategory()},itemId=${item.getId()})}" class="andro_ig-item">
                    <img th:src="${item.getImg()}" alt="ig" style="height: 210px; width: 280px">
                </a>
            </div>

        </div>
    </div>
</div>
<!-- Instagram End -->
</body>
</html>